<% @post.comments.each do |comment|%>
  <p>
    <strong>Comment:</strong>
    <%= comment.body%>
  </p>
  <p>
    <em>Posted by:</em>
    <%= comment.user %>
  </p>
  <p>
    <%= link to "Delete", [comment.article, comment],
                method: :delete,
                data: {confirm: "Are you sure?"} %>
  </p>
<% end %>
