<div class="post-comments-container">
  <%= render 'post', post: @post %>
  <h2><%= @post.comments.size %> Comments</h2>
  <h2>Leave a comment:</h2>
  <%= render 'comments/form' %>
  <% @post.comments.select { |comment| comment.created_at }.each do |comment| %>
    <%= render 'comments/comment', comment: comment %>
  <% end %>
</div>
