/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

 html {
  font-size: 16px;
}

.index-container {
  display:flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.all-posts-container {
  width:100%;
}


 .nav-container{
   display:flex;
   align-items:center;
   justify-content: space-between;
 }

 .sorter-header {
    display:flex;
    padding: 10px;
    width: 100;
    justify-content: space-around;

 }

 .votes-container {
  display: flex;
  flex-direction: column;
  padding-right: 16px;
}

.side-bar {
  max-width: 375px;
}

.post-container {
  display:flex;
  align-items: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.header-center {
  text-align: center;
}

.signup-container {
  display:flex;
  flex-direction:column;
  padding: 25px;
}

.new-post {
  margin: 75px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  width: 100%;
}

.profile-container {
  display: flex;
  flex-direction: column;
  width:100%;
  align-items: center;
}

.page-buttons {
  display:flex;
  justify-content: space-evenly;
  align-items:center;
}

.post-comments-container {
  padding: 10px;
  flex-grow:1;
}

.post-title {
  overflow:hidden;
}

.comment-container {
  display:flex;
  flex-direction:column;
}

.comment-header {
  display:flex;
  align-items: center;
  margin-bottom: 10px;
}

.search-form {
  display:flex;
}
.search-btn {
  margin: 5px;
}

.sort-comments {
  display: flex;
}

.login-header {
  display:flex;
}

.sub-comment {
  padding-left: 20px;
  margin-top: 20px;
}

.reply-input {
  margin-bottom: 25px;
}

.comment-reply-container {
  margin: 20px 0px;
}

.comment-btn {
  margin: 10px;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {


  .nav-container {
    max-width: 375px;
    flex-direction: column;
  }

  .post-container {
    max-width: 375px;
  }

  .index-container {
    flex-direction: column-reverse;
  }

  .navbar-brand {
    display:none;
  }

  .search-form {
    flex-direction:column;
  }

  .buttons-container {
    display:flex;
    flex-direction:column;
  }

  }

  @media only screen and (min-width:481px) and (max-width: 1024px)  { 
    .buttons-container {
      display:flex;
      flex-direction:column;
    }
  }