<ul class="nav">
  <li class="nav-item">
    <%= link_to 'Hot', {controller: "posts", sort: 'hot'}, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Top', {controller: "posts", sort: 'top'}, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to 'New', {controller: "posts", sort: 'recent'}, class: "nav-link" %>
  </li>
</ul>
